/.vs/
**/bin/
**/obj/
/artifacts/
**/node_modules/
**/dist/
*.user
*.suo
*.userosscache
*.sln.DotSettings.user
/Mindly.Api/Mindly.Api.db
/Mindly.Api/mindly.db
/Mindly.Api/mindly.db-shm
/Mindly.Api/mindly.db-wal
/Mindly.Api/*.db
/Mindly.Api/.idea/
*.DS_Store
.idea/
/.idea/

